<ul>
    <li @Helpers.AdminHelper.CurrentClass("Main.aspx")><a href="Main.aspx">@Resources.labels.basic</a></li>
    <li @Helpers.AdminHelper.CurrentClass("Advanced.aspx")><a href="Advanced.aspx">@Resources.labels.advanced</a></li>
    <li @Helpers.AdminHelper.CurrentClass("Feed.aspx")><a href="Feed.aspx">@Resources.labels.feed</a></li>
    <li @Helpers.AdminHelper.CurrentClass("Email.aspx")><a href="Email.aspx">@Resources.labels.email</a></li>
    <li @Helpers.AdminHelper.CurrentClass("HeadTrack.aspx")><a href="HeadTrack.aspx">@Resources.labels.customCode</a></li>
    <li @Helpers.AdminHelper.CurrentClass("Comments.aspx")><a href="Comments.aspx">@Resources.labels.comments</a></li>
    <li @Helpers.AdminHelper.CurrentClass("Rules.aspx")><a href="Rules.aspx">@Resources.labels.spamProtection</a></li>
    <li @Helpers.AdminHelper.CurrentClass("PingServices.aspx")><a href="PingServices.aspx">@Resources.labels.pingService</a></li>
    <li @Helpers.AdminHelper.CurrentClass("Import.aspx")><a href="Import.aspx">@Resources.labels.import & @Resources.labels.export</a></li>
</ul>
