@using BlogEngine.Core;
@{
    App_Code.WebUtils.CheckRightsForAdminPagesPages(false);
    string loginUrl = Href(Utils.RelativeWebRoot + "Account/login.aspx");
    var adminCss = Utils.ApplicationRelativeWebRoot + "admin/css";
    var adminJs = Utils.ApplicationRelativeWebRoot + "admin/js";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link rel="shortcut icon" href="@Href(Utils.ApplicationRelativeWebRoot + "pics/blogengine.ico")" type="image/x-icon" />
        <link href="@adminCss" rel="stylesheet" type="text/css" />        
    </head>
    <body>
        <script type="text/javascript">
            var SiteVars = {
                ApplicationRelativeWebRoot: '@Utils.ApplicationRelativeWebRoot',
                RelativeWebRoot: '@Utils.RelativeWebRoot',
                BlogInstanceId: '@Blog.CurrentInstance.Id'
            };
        </script> 
        <script type="text/javascript" src="admin.res.axd"></script>
        <script type="text/javascript" src="@adminJs"></script>        
        <div class="page">
            <form id="form1">

                <div id="StatusBox">
                    <div id="AdminStatus" runat="server"></div>
                </div>

                <div class="header">
                    <div class="be-logo">
                        <span>@BlogEngine.Core.BlogSettings.Instance.Name @Resources.labels.admin</span>
                    </div>                                  
                    <div class="toolbox">
                        @Resources.labels.welcome&nbsp;
                        @if (AuthorProfile.GetProfile(Security.CurrentUser.Identity.Name) == null)
                        { @Security.CurrentUser.Identity.Name }
                        else
                        { @AuthorProfile.GetProfile(Security.CurrentUser.Identity.Name).DisplayName }
                        | <a href="@Href(Utils.RelativeWebRoot + "admin/Users/Profile.aspx?id=")@Security.CurrentUser.Identity.Name">@Resources.labels.myProfile</a>
                        | <a href="@BlogEngine.Core.Utils.RelativeWebRoot">@Resources.labels.goToFrontPage</a>
                        | <span><a href="@Href(Utils.RelativeWebRoot + "Account/Logout.cshtml")">@Resources.labels.logoff</a></span>
                    </div>                                 
                </div>

                <div class="tabs toprounded">
                    @RenderPage("_menu.cshtml")
                    <div id="recyclebin"><a class="empty" href="@(Utils.RelativeWebRoot)admin/Trash.aspx"></a></div>
                </div>

                <div class="clear"></div>
                @RenderBody()

                <div id="footer">
                    <a href="http://dotnetblogengine.net">BlogEngine.NET @BlogEngine.Core.BlogSettings.Instance.Version()</a> | 
                    <a id="donate" runat="server" href="http://dotnetblogengine.net/Donate.aspx" target="_new">@Resources.labels.makeDonation</a>          
                </div>

            </form>
        </div>
    </body>
</html>
