<div class="task">
    <h2>Caret Control / Move Code</h2>
    <p>
        Navigate to the @Code.Ref("OutOfOrderMethods") class in the @Code.Sln("Basic") solution.
    </p>
    
    <p>
        <ul>
            <li>Reorder the methods alphabetically using move code.</li>
        </ul>

        In the @Code.Ref("E") method:
        
        <ul>
            <li>Move the calculation of @Code.Ref("theOtherValue") into the first @Code.Ref("if") block.</li>
            <li>Move the @Code.Ref("try")/@Code.Ref("catch") block out of the first @Code.Ref("if") block.</li>
            <li>
                Change following expressions to mention variable names before constants:
                <ul>
                    <li>@Code.Ref("13 * theNumber") should be @Code.Ref("theNumber * 13")</li>
                    <li>@Code.Ref("42 == theNumber") should be @Code.Ref("theNumber == 42")</li>
                    <li>@Code.Ref("null != data") should be @Code.Ref("data != null")</li>
                </ul>
            </li>                    
        </ul>        
    </p>
    
    @Keys.Shortcut("ACS") + (@Keys.Up() or @Keys.Down())

</div>