<div class="task">

    <h2>Code Inspections</h2>
    
    <p>Navigate to the @Code.Ref("ContextClass") in the @Code.Sln("Context") solution.</p>
    
    <p>
        The class contains various ReSharper code inspections. 

        <ul>
            <li><b>Hints</b> shown as a short dotted green line beneath the code</li>
            <li><b>Suggestions</b> shown as a green squiggly line beneath the code</li>
            <li><b>Dead code</b> shown as faded grey text</li>
            <li><b>Errors</b> shown as red text or red squiggly lines</li>
        </ul>

        Do the following
        
        <ol>
            <li>Navigate to the 2 errors and fix them. What's wrong?</li>
            <li>Navigate through the suggestions in the file and see what ReSharper is suggesting. Do you agree?</li>
            <li>Go through the hints of the file (no shortcut). Does it make sense to apply any of them?</li>
        </ol>
    </p>
    
    <div class="tip">
        <b>Note:</b> The inspection options can be changed either in the ReSharper options or directly through the @Helpers.ShortcutRef("Quick fix") menu. These can also be shared at solution level through source control with the new ReSharper 6.x collaboration features.
    </div>    
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.QuickFix()
            @Shortcuts.NavigateToNextSuggestion()
            @Shortcuts.NavigateToPrevSuggestion()
            @Shortcuts.NavigateToNextError()
            @Shortcuts.NavigateToPrevError()
        </table>
    </div>

</div>