<div class="task">
    <h2>Find Usages</h2>
    
    <p>Possible method: BlogEngine UrlRewrite.ContextBeginRequest</p>
    <p>Possible method: BlogEngine Pager.ctor</p>
    <p>Possible method: BlogEngine CommentHandlers.*</p>

    <p>Open the @Code.Sln("BlogEngine") solution.</p>
    
    <p>
        Navigate to the @Code.Ref("ContextBeginRequest") method in the @Code.Ref("UrlRewrite") class.
        Using [Highlight usages] and [Navigate to next usage] figure out
        
        <ol>
            <li>What is the last line that the @Code.Ref("path") local variable is used in?</li>
            <li>What is the last line that the @Code.Ref("url") local variable is used in?</li>
        </ol>

    </p>

    <div class="example">
        <h3>Example - X</h3>
        <p>
        </p>        
    </div>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
        </table>
    </div>

</div>