<div class="task">
    
    <h2>First Task Revisited</h2>

    <p>
        Repeat the first task, but try to incorporate the things you've learned in the previous lessions.
        Below you'll find a list of the shortcuts that might be helpful for faster flows.
    </p>

    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.QuickFix()
            @Shortcuts.GenerateFileSolutionExplorer()
            @Shortcuts.GenerateCode()
            @Shortcuts.ImportCompletion()
            @Shortcuts.NavigateToNextSuggestion()
            @Shortcuts.NavigateToPrevSuggestion()
            @Shortcuts.NavigateToNextError()
            @Shortcuts.NavigateToPrevError()
        </table>
    </div>

</div>

