<div class="task">
    <h2>First Exercise</h2>
    <p>
        In the @Code.Sln("Basic") solution. Create the 2 following classes:
    </p>
    <ul>
        <li>@Code.Ref("Plan")</li>
        <li>@Code.Ref("Document")</li>
    </ul>
    <p>
        The @Code.Ref("Plan") class should take a name (@Code.Ref("string")), some documents (@Code.Ref("IEnumerable<Document>"))
        and a security classification (@Code.Ref("Basic.Support.SecurityClassification")) in it's constructor
        and expose them as read-only properties.
    </p>
    <p>
        One solution could look like this:</p>
    <div class="file">
        Plan.cs
        @Helpers.RenderFile("~/Code/Basic/Plan.cs")
    </div>
    <div class="file">
        Document.cs
        @Helpers.RenderFile("~/Code/Basic/Document.cs")
    </div>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.FocusSolutionExplorer()
            @Shortcuts.LocateInSolutionExplorer()
            @Shortcuts.ContextMenu()
            @Shortcuts.FocusCodeWindow()
            @Shortcuts.FocusCodeWindow2()
            @Shortcuts.OpenMenuBar()
        </table>
    </div>

</div>

