<h1>ReSharper Course Tasks</h1>

@Html.Partial("FirstTask")

<h2>Reading code</h2>

@Html.Partial("NavigateTo")
@Html.Partial("CodeInspections")
@Html.Partial("FindUsages")
@Html.Partial("NavigateHierarchy")
@Html.Partial("InspectThis")
@*@Html.Partial("StackTraceExplorer")*@

<h2>Writing code</h2>

@*@Html.Partial("BasicEditor")*@
@Html.Partial("Rename")
@Html.Partial("GenerateCode")
@Html.Partial("CompletionModesIntroduceInline")
@Html.Partial("SolutionLevel")
@Html.Partial("MoveCode")
@*@Html.Partial("ExtractInlineMethod")*@

<h2>Last</h2>

@Html.Partial("FirstTaskRevisited")




