<h1>ReSharper Course Exercises</h1>

<p>Files for exercises can be found at <b>http://bit.ly/resharperexercises</b></p>

<div style="page-break-after: always"></div>

@Html.Partial("FirstTask")

@Html.Partial("NavigateTo")
@Html.Partial("CodeAnalysis")
@Html.Partial("GenerateCode")
@Html.Partial("Rename")
@Html.Partial("IntroduceInline")
@Html.Partial("ImportCompletion")
@Html.Partial("FindUsages")
@Html.Partial("SolutionExplorer")
@Html.Partial("MoveCode")
@Html.Partial("NavigateHierarchy")
@Html.Partial("InspectThis")

@*@Html.Partial("StackTraceExplorer")*@
@*@Html.Partial("BasicEditor")*@
@*@Html.Partial("ExtractInlineMethod")*@

@Html.Partial("FirstTaskRevisited")