<h2>ReSharper Course Tasks</h2>

<h3>Scratchpad</h3>

<h3>First</h3>

@Html.Partial("FirstTask")

<h3>Reading code</h3>

@Html.Partial("NavigateTo")
@Html.Partial("FindUsages")
@Html.Partial("NavigateHierarchy")
@Html.Partial("InspectThis")
@*@Html.Partial("StackTraceExplorer")*@

<h3>Writing code</h3>

@*@Html.Partial("BasicEditor")*@
@Html.Partial("QuickFix")
@*@Html.Partial("Rename")*@
@*@Html.Partial("GenerateCode")*@
@*@Html.Partial("CompletionModes")*@
@*@Html.Partial("SolutionLevel")*@
@*@Html.Partial("ExtractInlineMethod")*@

@Html.Partial("MoveCode")

<h3>Last</h3>
@Html.Partial("FirstTaskRevisited")




