<h2>ReSharper Course Tasks</h2>

@Html.Partial("NavigateHierarchy")
@Html.Partial("FindUsages")

@Html.Partial("NavigateTo")
@Html.Partial("FirstTask")
@Html.Partial("InspectThis")
@Html.Partial("MoveCode")


