<h1>ReSharper Course Exercises</h1>

Exercises for the ReSharper course at Making Waves, May 24th 2012.

<div style="page-break-after: always"></div>

<h1>Section: Motivation</h1>

@Html.Partial("FirstTask")

<h1>Section: Reading code</h1>

@Html.Partial("NavigateTo")
@Html.Partial("CodeInspections")
@Html.Partial("FindUsages")
@Html.Partial("NavigateHierarchy")
@Html.Partial("InspectThis")
@*@Html.Partial("StackTraceExplorer")*@

<h1>Section: Writing code</h1>

@*@Html.Partial("BasicEditor")*@
@Html.Partial("Rename")
@Html.Partial("GenerateCode")
@Html.Partial("CompletionModesIntroduceInline")
@Html.Partial("SolutionLevel")
@Html.Partial("MoveCode")
@*@Html.Partial("ExtractInlineMethod")*@

<h1>Section: Wrap-up</h1>

@Html.Partial("FirstTaskRevisited")