<h2>ReSharper Course Tasks</h2>

@Html.Partial("FirstTask")
@Html.Partial("InspectThis")

<div class="task">
    <p>
        Navigate to the OutOfOrderMethods class in the Basic solution.
    </p>
    
    <p>
        Reorder the methods alphabetically using move code.
    </p>
    
    @Keys.Alt() + @Keys.Ctrl() + @Keys.Shift() + (@Keys.Up() or @Keys.Down())

</div>


<div class="task">
    Long names: 
    HandleProcessCorruptedStateExceptionsAttribute [46] 
    KeyContainerPermissionAccessEntryCollection [43] 
    KeyContainerPermissionAccessEntryEnumerator [43] 
    CryptographicUnexpectedOperationException [41] 
    ApplicationDirectoryMembershipCondition [39] 
    ManagedToNativeComInteropStubAttribute [38] 
    IsolatedStorageFilePermissionAttribute [38] 
    SuppressUnmanagedCodeSecurityAttribute [38] 
    AppDomainManagerInitializationOptions [37] 
    AssemblyInformationalVersionAttribute [37] 
    CriticalHandleZeroOrMinusOneIsInvalid [37] 
    StrongNameIdentityPermissionAttribute [37] 
    AllowPartiallyTrustedCallersAttribute [37] 
    PublisherIdentityPermissionAttribute [36] 
    InsufficientExecutionStackException [35]
    ContractPublicPropertyNameAttribute [35] 
    SetWin32ContextInIDispatchAttribute [35] 
    ContractReferenceAssemblyAttribute [34] 
    AssemblyTargetedPatchBandAttribute [34] 
    IsolatedStoragePermissionAttribute [34] 
    InternalApplicationIdentityHelper [33] 
    SafeHandleZeroOrMinusOneIsInvalid [33]
    WaitHandleCannotBeOpenedException [33]
    MissingSatelliteAssemblyException [33] 
    NeutralResourcesLanguageAttribute [33]
</div>