<h1>ReSharper Course Exercises</h1>

<p>Exercises for the ReSharper course at Making Waves, May 24th 2012.</p>

<p>Files for exercises can be found at <b>http://bit.ly/resharperexercises</b></p>

<div style="page-break-after: always"></div>

@Html.Partial("FirstTask")

@Html.Partial("NavigateTo")
@Html.Partial("CodeInspections")
@Html.Partial("GenerateCode")
@Html.Partial("Rename")
@Html.Partial("CompletionModesIntroduceInline")
@Html.Partial("FindUsages")
@Html.Partial("SolutionLevel")
@Html.Partial("MoveCode")
@Html.Partial("NavigateHierarchy")
@Html.Partial("InspectThis")

@*@Html.Partial("StackTraceExplorer")*@
@*@Html.Partial("BasicEditor")*@
@*@Html.Partial("ExtractInlineMethod")*@

@Html.Partial("FirstTaskRevisited")