<div class="task">
    <p>
        In the @Code.Sln("Basic") solution - find the Basic.InspectThis project.
    </p>
    <p>
        @Keys.Shortcut("ACS", "A") - Inspect this.
    </p>
    <p>
        Remember to dock the inspection window and set up Show Preview on the Right.
    </p>
    <ul>
        <li>Explore the value destination of @Code.Ref("importantValue") in the @Code.Ref("Main") method.</li>
        <li>Explore the value origin of the @Code.Ref("value") variable in the @Code.Ref("Main") method.</li>
    </ul>
</div>
