<div class="task">
    <h2>Inspect This</h2>
    <p>
        In the @Code.Sln("Basic") solution - find the Basic.InspectThis project.
    </p>
    <p class="tip">
        <b>Tip:</b> Remember that the inspection window can be docked and that Show Preview on the Right is useful.
    </p>
    <ul>
        <li>Explore the value destination of @Code.Ref("importantValue") in the @Code.Ref("Main") method.</li>
        <li>Explore the value origin of the @Code.Ref("value") variable in the @Code.Ref("Main") method.</li>
    </ul>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.InspectThis()
        </table>
    </div>
</div>
