<div class="task">
    <h2>Introduce and Inline variables</h2>
    
    <p>Open the @Code.Ref("Variables") class in the @Code.Sln("Basic") project.</p>
    
    <p>
        In the @Code.Ref("IntroduceVariable") method introduce the following variables
        
        <ol>
            <li>@Code.Ref("0") to @Code.Ref("firstPage")</li>
            <li>@Code.Ref("numberOfPages - 1") to @Code.Ref("lastPage")</li>
            <li>@Code.Ref("Math.Min(Math.Max(firstPage, page), lastPage)") to @Code.Ref("currentPage")</li>
            <li>@Code.Ref("currentPage * itemsPerPage") to @Code.Ref("firstItemInPage")</li>
            <li>@Code.Ref("((currentPage + 1) * itemsPerPage) - 1") to @Code.Ref("lastItemInPage")</li>
            <li>@Code.Ref("new[] { firstItemInPage, lastItemInPage }") to @Code.Ref("itemRange")</li>
        </ol>

        In the @Code.Ref("InlineVariable") method:
        
        <ol start="7">
            <li>Inline all the variables one at a time and watch the effects.</li>
        </ol>

    </p>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.RefactorThis()
            @Shortcuts.RefactorIntroduceVariable()
            @Shortcuts.RefactorInlineVariable()
        </table>
    </div>

</div>

