<div class="task">
    <h2>Go to ...</h2>
    
    <p>Open the @Code.Sln("BlogEngine") solution.</p>
    
    <p>
        Find the shortest sequence of keys to navigate to following items. See example below.

        <ol>
            <li>The class @Code.Ref("BlogEngine.Core.Notes.QuickNotes")</li>
            <li>The file @Code.Ref("Scripts/Header/blog.js")</li>
            <li>The class @Code.Ref("BlogEngine.Core.API.BlogML.BlogReader")</li>
            <li>The declaration of the @Code.Ref(".LoginRequired") css class in the @Code.Ref("Styles/Global.css") file</li>
            <li>The @Code.Ref("Page_Load") method in the @Code.Ref("Account/login.aspx.cs") file</li>
            <li>The @Code.Ref("staticContent") xml section in the @Code.Ref("web.config") file</li>
        </ol>
        
        Optional extras

        <ol start="7">
            <li>The @Code.Ref("Application_Error") method in the @Code.Ref("Global.asax") file</li>    
            <li>The @Code.Ref("cancelReply") method in the @Code.Ref("Scripts/Header/blog.js") file</li>
            <li>The @Code.Ref("Add") method of the @Code.Ref("BlogEngine.Core.Providers.BlogFileSystemProviderCollection") class</li>
            <li>The class that starts with @Code.Ref("U") in the same namespace as @Code.Ref("XmlFileSystemProvider")</li>
        </ol>

    </p>

    <div class="example">
        <h3>Example - Shortest Sequence</h3>
        <p>
            The shortest sequence of keys to navigate to
            
            <ul>
                <li>The file @Code.Ref("templates/roles.htm")</li>
            </ul>
            
            would be:
            
            <ul>
                <li>@Keys.Shortcut("CS", "T") (Go to file)</li>
                <li>@Keys.Key("r")@Keys.Key("h")@Keys.Key("t") (matches <b>r</b>oles.<b>ht</b>m)</li>
                <li>@Keys.Enter()</li>
            </ul>
        </p>        
    </div>
    
    <div class="primary-shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.GoToType()
            @Shortcuts.GoToFile()
            @Shortcuts.GoToSymbol()
            @Shortcuts.GoToMember()
            @Shortcuts.LocateInSolutionExplorer()
        </table>
    </div>

</div>