<div class="task">
    <h2>Navigate Hierarchies</h2>
    
    <p>
        Navigate to the @Code.Ref("Navigate") method of the @Code.Ref("NavigateHierachies") class.

        <ol>
            <li>Examine the @Helpers.ShortcutRef("Type Hierarchy") of @Code.Ref("IEntity")</li>
            <li>What is the difference between @Helpers.ShortcutRef("Go to implementation") and @Helpers.ShortcutRef("Go to derived") on the @Code.Ref("IPet.Speak") method?</li>
            <li>Where does @Helpers.ShortcutRef("Go to implementation") on @Code.Ref("IEntity.Id") followed by @Helpers.ShortcutRef("Go to base") take you? Why?</li>        
        </ol>

        Navigate to the @Code.Ref("RebusHierarchyLesson") class.
        
        Using hierarchy navigation (@Helpers.ShortcutRef("Go to declaration") / @Helpers.ShortcutRef("Go to implementation") / @Helpers.ShortcutRef("Go to base") / @Helpers.ShortcutRef("Go to derived")) figure out
        
        <p>Remember that you can consult the @Helpers.ShortcutRef("Type Hierachy").</p>
        
        <ol start="4">
            <li>From @Code.Ref("SimpleHandlerActivator") - how can you get to @Code.Ref("IActivateHandlers")</li>
            <li>From @Code.Ref("IActivateHandlers") - how can you get to @Code.Ref("WindsorContainerAdapter")</li>
            <li>From @Code.Ref("WindsorContainerAdapter") - how can you get to @Code.Ref("IContainerAdapter")</li>
        </ol>

        Without leaving @Code.Ref("RebusHierarchyLesson") figure out the following from the @Code.Ref("Lesson") method.
                
        <p class="tip">
            <b>Hint:</b> @Helpers.ShortcutRef("Go to derived") shows a list of possible navigation targets for whatever's under the caret.
        </p>

        <ol start="7">
            <li>Using Type Hierachy, which class implementing @Code.Ref("IActivateHandlers") does not implement @Code.Ref("IContainerAdapter")</li>
            <li>Number of classes and interfaces implementing @Code.Ref("IActiveHandlers")</li>
            <li>Out of the these - how many implement the @Code.Ref("GetHandlerInstancesFor<T>")</li>
            <li>Number of classes and interfaces implementing @Code.Ref("IHandleMessages<T>")</li>
        </ol>
        
    </p>

    <p class="tip">
        <b>Tip:</b> If you navigate to a file and want to go back to where you were, you can either use @Helpers.ShortcutRef("Close current file") or @Helpers.ShortcutRef("Go back (Visual Studio)"). 
    </p>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.GoToDeclaration()
            @Shortcuts.GoToImplementation()
            @Shortcuts.GoToBase()
            @Shortcuts.GoToDerived()
            @Shortcuts.ShowTypeHierarchy()
        </table>
        <h3>Supporting shortcuts</h3>
        <table>
            @Shortcuts.InspectThis()
            @Shortcuts.CloseCurrentFile()
            @Shortcuts.GoBack()
        </table>
    </div>

</div>