<div class="task">
    <h2>Rename</h2>
    
    <p>Navigate to the @Code.Ref("H") class the @Code.Sln("Basic") project.</p>
    
    <p>
        <ol>
            <li>Rename variable @Code.Ref("e") -> @Code.Ref("lastIndex")</li>
            <li>Rename parameter @Code.Ref("j") -> @Code.Ref("arrayLength")</li>
            <li>Rename method @Code.Ref("A") -> @Code.Ref("BuildRandomArray")</li>
            <li>Rename variable @Code.Ref("d") -> @Code.Ref("i")</li>
        </ol>
        
        Figure out what variables (and rename them) should have the following names of the remaining @Code.Ref("c"), @Code.Ref("H"), @Code.Ref("g") and @Code.Ref("f").

        <ul>
            <li>@Code.Ref("random")</li>
            <li>@Code.Ref("numbers")</li>
            <li>@Code.Ref("swapIndex")</li>
            <li>@Code.Ref("temp")</li>
            <li>@Code.Ref("ArrayShuffler")</li>
        </ul>
    </p>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.RefactorRename()
        </table>
        <h3>Supporting shortcuts</h3>
        <table>
            @Shortcuts.RefactorThis()
            @Shortcuts.HighlightUsages()
        </table>
    </div>

</div>

