<div class="task">
    <h2>Solution Level Refactorings</h2>
    
    <p>
        Open the @Code.Ref("Tennis.cs") file in the @Code.Sln("Tennis") solution. 
        This file contains an implementation of the variations of the rules 
        of Tennis in different tournaments.
    </p>
    
    <p>
        <ol>
        </ol>
    </p>
    
    <p class="tip">
        <b>Tip</b>If you want to start over on this task - simply copy the contents of @Code.Ref("original.txt") into a @Code.Ref("Tennis.cs") file.
    </p>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.RefactorThis()
            @Shortcuts.GenerateFileSolutionExplorer()
        </table>
    </div>

</div>

