<div class="task">
    <h2>Solution Level Refactorings</h2>
    
    <p>
        Open the @Code.Ref("Tennis.cs") file in the @Code.Sln("Tennis") solution. 
        This file contains an implementation of the variations of the rules 
        of Tennis in different tournaments.
    </p>
    
    <p>
        In the Solution Explorer do the following:

        <ol>
            <li>Split up the @Code.Ref("Tennis.cs") file using @Helpers.ShortcutRef("Refactor this - Move types into matching files")</li>
            <li>Create @Code.Ref("Tournament") and @Code.Ref("Models") folders using @Helpers.ShortcutRef("Generate file (Solution Explorer)")</li>
            <li>Move files into the folder structure shown below using either
                <ul>
                    <li>Copy / Paste + @Helpers.ShortcutRef("Refactor this - Adjust namespaces")</li>
                    <li>@Helpers.ShortcutRef("Refactor this - Move to folder")</li>
                </ul>
            </li>
            <li>Which method do you like better?</li>
        </ol>
        
        <ul>
            <li>
                @Code.Ref("Tournament")
                <ul>
                    <li>@Code.Ref("TournamentAustralianOpen.cs")</li>
                    <li>@Code.Ref("TournamentDouble.cs")</li>
                    <li>@Code.Ref("TournamentUSOpen.cs")</li>
                    <li>@Code.Ref("ITournamentRules.cs")</li>
                </ul>
            </li>
            <li>
                @Code.Ref("Models")
                <ul>
                    <li>@Code.Ref("TennisGame.cs")</li>
                    <li>@Code.Ref("TennisSet.cs")</li>
                    <li>@Code.Ref("TennisMatch.cs")</li>
                </ul>
            </li>
        </ul>
    </p>
    
    <p class="tip">
        <b>Tip:</b> If you want to start over on this task - simply copy the contents of @Code.Ref("original.txt") into a @Code.Ref("Tennis.cs") file.
    </p>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
            @Shortcuts.RefactorThis()
            @Shortcuts.GenerateFileSolutionExplorer()
            @Shortcuts.RefactorMoveToFolder()
        </table>
        <h3>Supporting shortcuts</h3>
        <table>
            @Shortcuts.LocateInSolutionExplorer()
        </table>
    </div>

</div>

