
@helper FocusSolutionExplorer()
{
    @Scaffold("Focus Solution Explorer", "AC", "L")
}

@helper LocateInSolutionExplorer()
{
    @Scaffold("Locate in Solution Explorer", "AS", "L")
}

@helper ContextMenu()
{
    @Scaffold("Open context menu", "S", "F10")
}

@helper FocusCodeWindow()
{
    @Scaffold("Focus Code Window", "", "ESC")
}

@helper FocusCodeWindow2()
{
    @ScaffoldChord("Focus Code Window (more stable)", "A", "W", "", "1")
}

@helper GoToType()
{
    @Scaffold("Go to Type", "C", "T")
}

@helper GoToFile()
{
    @Scaffold("Go to File", "CS", "T")
}

@helper GoToSymbol()
{
    @Scaffold("Go to Symbol", "AS", "T")
}

@helper GoToMember()
{
    @Scaffold("Go to Member (current file)", "C", "<")
}


@helper OpenMenuBar()
{
    @Scaffold("Open menu underlined with <X>", "A", "<X>")
}

@helper MoveCodeUp() 
{
    @Scaffold("Move code up", "ACS", "Up")
}

@helper MoveCodeDown() 
{
    @Scaffold("Move code down", "ACS", "Down")
}

@helper MoveCodeIn() 
{
    @Scaffold("Move code in", "ACS", "Right")
}

@helper MoveCodeOut() 
{
    @Scaffold("Move code out", "ACS", "Left")
}

@helper NavigateToNextClassMember()
{
    @Scaffold("Go to next class member", "A", "Down")
}

@helper NavigateToPrevClassMember()
{
    @Scaffold("Go to previous class member", "A", "Up")
}

@helper ShowTypeHierarchy()
{
    @ScaffoldChord("Show type hierarchy", "C", "E", "C", "H")
}

@helper InspectThis()
{
    @Scaffold("Inspect this", "ACS", "A")
}

@helper CloseCurrentFile()
{
    @Scaffold("Close current file", "C", "F4")
}

@helper GoBack()
{
    @Scaffold("Go back (Visual Studio)", "C", "-")
}

@helper GoToDerived()
{
    @Scaffold("Go to derived", "A", "End")
}

@helper GoToBase()
{
    @Scaffold("Go to base", "A", "Home")
}

@helper GoToDeclaration()
{
    @Scaffold("Go to declaration", "", "F12")
}

@helper FindUsages()
{
    @Scaffold("Find usages", "S", "F12")
}

@helper HighlightUsages()
{
    @Scaffold("Highlight usages", "AS", "F11")
}

@helper NavigateToNextUsage()
{
    @Scaffold("Go to next usage", "AC", "PageDown")
}

@helper NavigateToPrevUsage()
{
    @Scaffold("Go to previous usage", "AC", "PageUp")
}

@helper NavigateToNextSuggestion()
{
    @Scaffold("Go to next suggestion", "A", "PageDown")
}

@helper NavigateToPrevSuggestion()
{
    @Scaffold("Go to previous suggestion", "A", "PageUp")
}

@helper NavigateToNextError()
{
    @Scaffold("Go to next error", "AS", "PageDown")
}

@helper NavigateToPrevError()
{
    @Scaffold("Go to previous error", "AS", "PageUp")
}

@helper QuickFix()
{
    @Scaffold("Quick fix", "A", "Enter")
}

@helper ImportCompletion()
{
    @Scaffold("Import completion", "AS", "Space")
}

@helper RefactorThis()
{
    @Scaffold("Refactor this", "CS", "R")
}

@helper RefactorIntroduceVariable()
{
    @ScaffoldChord("Refactor: Introduce variable", "C", "R", "C", "V")
}

@helper RefactorInlineVariable()
{
    @ScaffoldChord("Refactor: Inline variable", "C", "R", "C", "I")
}

@helper Scaffold(string description, string modifiers, string key)
{
    <tr>
        <td>
            @description
        </td>
        <td>
            @Keys.Shortcut(modifiers, key)
        </td>
    </tr>
}

@helper ScaffoldChord(string description, string modifiers, string key, string modifiers2, string key2)
{
    <tr>
        <td>
            @description
        </td>
        <td>
            @Keys.Shortcut(modifiers, key),@Keys.Shortcut(modifiers2, key2)
        </td>
    </tr>
}




