
@helper FocusSolutionExplorer()
{
    @Scaffold("Focus Solution Explorer", "AC", "L")
}

@helper LocateInSolutionExplorer()
{
    @Scaffold("Locate in Solution Explorer", "AS", "L")
}

@helper ContextMenu()
{
    @Scaffold("Open context menu", "S", "F10")
}

@helper FocusCodeWindow()
{
    @Scaffold("Focus Code Window", "", "ESC")
}

@helper FocusCodeWindow2()
{
    @Scaffold("Focus Code Window (more stable)", "A", "W, 1")
}

@helper GoToType()
{
    @Scaffold("Go to Type", "C", "T")
}

@helper GoToFile()
{
    @Scaffold("Go to File", "CS", "T")
}

@helper GoToSymbol()
{
    @Scaffold("Go to Symbol", "AS", "T")
}

@helper GoToMember()
{
    @Scaffold("Go to Member (current file)", "C", "<")
}


@helper OpenMenuBar()
{
    @Scaffold("Open menu underlined with <X>", "A", "<X>")
}


@helper Scaffold(string description, string modifiers, string key)
{
    <tr>
        <td>
            @description
        </td>
        <td>
            @Keys.Shortcut(modifiers, key)
        </td>
    </tr>
}




