
@helper FocusSolutionExplorer()
{
    @Scaffold("Focus Solution Explorer", "AC", "L")
}

@helper LocateInSolutionExplorer()
{
    @Scaffold("Locate in Solution Explorer", "AS", "L")
}

@helper ContextMenu()
{
    @Scaffold("Open context menu", "S", "F10")
}

@helper FocusCodeWindow()
{
    @Scaffold("Focus Code Window", "", "ESC")
}

@helper FocusCodeWindow2()
{
    @Scaffold("Focus Code Window (more stable)", "A", "W", ", <kbd>1</kbd>")
}

@helper GoToType()
{
    @Scaffold("Go to Type", "C", "T")
}

@helper GoToFile()
{
    @Scaffold("Go to File", "CS", "T")
}

@helper GoToSymbol()
{
    @Scaffold("Go to Symbol", "AS", "T")
}

@helper GoToMember()
{
    @Scaffold("Go to Member (current file)", "C", "<")
}


@helper OpenMenuBar()
{
    @Scaffold("Open menu underlined with <X>", "A", "<X>")
}

@helper MoveCodeUp() 
{
    @Scaffold("Move code up", "ACS", "Up")
}

@helper MoveCodeDown() 
{
    @Scaffold("Move code down", "ACS", "Down")
}

@helper MoveCodeIn() 
{
    @Scaffold("Move code in", "ACS", "Right")
}

@helper MoveCodeOut() 
{
    @Scaffold("Move code out", "ACS", "Left")
}

@helper NavigateToNextClassMember()
{
    @Scaffold("Go to next class member", "A", "Down")
}

@helper NavigateToPrevClassMember()
{
    @Scaffold("Go to previous class member", "A", "Up")
}

@helper InspectThis()
{
    @Scaffold("Inspect this", "ACS", "A")
}

@helper Scaffold(string description, string modifiers, string key, string extra = "")
{
    <tr>
        <td>
            @description
        </td>
        <td>
            @Keys.Shortcut(modifiers, key) @(new HtmlString(extra))
        </td>
    </tr>
}




